{% extends 'base.html.twig' %}

{% block title %}Ajouter une techno{% endblock %}

{% block body %}

{% include "./components/navbar_admin.html.twig" %}
<div>
    {{ form_start(form) }}
    {{ form_end(form) }}
</div>
<form action="{{ path('admin_technos_liste') }}">
    <input class="btn" type="submit" value="Retour à la liste">
</form>
{% endblock %}