header{
    position: fixed;
    z-index: 3;
    top: 0;
}

.container-navbar{
    font-family: "Montserrat";
    width: 90%;
    height: 80px;
}

.navbar{
    display: none;
    box-shadow: -1px 2px 8px 0px;
    backdrop-filter: blur(50px);
}

.navbar li a{
    text-decoration: none;
    text-align: center;
    font-size: clamp(10px, 2vw, 22px);
    color: white;
}

.navbar li:hover a{
    color: #6ecfe8;
}