@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Lobster&family=Montserrat:wght@600&display=swap");

.d-flex{
    display: flex;
}

.j-center{
    justify-content: center;
}

.content-site{
    margin-top: 100px;
    position: relative;
    z-index: 1;
}

body {
    width: 100%;
    margin: 0;
    background-color: #282a42;
    overflow-x: hidden;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
/*
.rotate{
    animation: rotate 10s ;
}
*/
.effet_arriere_plan{
    width: 80%;
    height: 50%;
    filter: blur(calc(700px / 8));
    background-image: linear-gradient(rgba(55, 235, 169, 0.851), #5b37eb);
    animation: rotate 50s cubic-bezier(1, 0.8, 0.2, 0.8) alternate infinite;
    border-radius: 100% 100% 100% 100%/100% 100% 100% 100%;
    margin: auto;
    z-index: 0;
    position: fixed;
    right: 0;
    left: 0;
    top: 25%;
}

@media (max-width: 1000px) {
    .effet_arriere_plan{
        width: 500px;
    }
}

header{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 3;
    top: 0;
}

.container-navbar{
    font-family: "Montserrat";
    width: 90%;
    height: 80px;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    list-style-type: none;
    box-shadow: -1px 2px 8px 0px;
    backdrop-filter: blur(50px);
}

.navbar li{
    width: 100%;
    height: 100%;
}

.navbar li a{
    width: 100%;
    height: 100%;
    text-decoration: none;
    text-align: center;
    font-size: 22px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar li:hover a{
    color: #6ecfe8;
}

.img-pdp{
    width: 150px;
    height: 240px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    box-shadow: 0px -10px 6px -9px, 0px 10px 6px -9px;
}

.img-pdp-admin{
    cursor: pointer;
}

.wrapper{
    width: 100%;
    max-width: 1300px;
    margin: 40px 0 40px 0;
    padding: 40px 20px;
}

.titre{
    width: 80%;
    display: flex;
    justify-content: center;
    font-family: "EB Garamond";
    font-size: 30px;
    border: solid 2px;
    position: relative;
    padding-left: 18px;
    padding-right: 18px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: -10px 10px 9px -6px;
}

.logout{
    position: absolute;
    width: 80px;
    bottom: -620px;
    right: 0;
}

.logout img{
    width: 100%;
}

/*==================
    Accueil
==================*/

#bloc-accueil{
    display: flex;
    justify-content: center;
}

.presentation{
    margin-top: 140px;
    display: flex;
    justify-content: space-around;
}

/*==================
    Projets
==================*/

.content-projets-admin{
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    gap: 80px;
}

#bloc-projets{
    display: flex;
    justify-content: center;
}

.content_bloc_projets{
    margin-top: 140px;
}

.content_projet{
    height: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    border-radius: 8px;
    border: solid 2px rgba(255, 255, 255, 0);
    background: linear-gradient(rgba(55, 235, 169, 0.851), #5b37eb);
    box-shadow: inset 0px 0px 15px 5px;
}

.content_projet:hover {
    border: 2px solid #fff;
    box-shadow: 0 0 8px #fff, inset 0 0 8px #fff, 0 0 16px #2EC, inset 0 0 16px #2EC, 0 0 32px #1237E9, inset 0 0 32px #1237E9;
    transition: all 0.1s ease-in-out;
}

.projet{
    width: 50%;
}

.container_image_projet{
}

.image_projet{
    width: 100%;
    height: 100%;
}

/*==================
    Timeline
==================*/

#bloc-timeline{
    display: flex;
    justify-content: center;
}

#timeline{
    margin-top: 140px;
}

.trait{
    border-left: 5px solid #2BC;
    display: inline-block;
    width: 4px;
    height: 100%;
    position: absolute;
    left: 50%;
}

.timeline-item{
    width: 100%;
    display: table;
    margin-bottom: 50px;
}

.timeline-content{
    width: 40%;
    border: solid 2px;
    border-radius: 5px;
    padding: 20px;
}

.timeline-item:nth-child(2n) .timeline-content{
    float: right;
}

.timeline-item-date-techno{
    width: 50%;
}

.date{
    text-align: center;
}

.timeline-item-image-techno{
    display: flex;
    justify-content: center;
}

.timeline-item-image-techno img{
    width: 60%;
}

.timeline-item-description{
    width: 50%;
}

/*==================
    Contact
==================*/

#bloc-contact{
    display: flex;
    justify-content: center;
}

.content-form-contact{
    width: 100%;
    display: flex;
    justify-content: center;
}

form[name="contact"]{
    width: 75%;
    margin-top: 140px;
    padding: 0 0 25px 0;
    backdrop-filter: blur(75px);
    box-shadow: 0px 4px 10px -5px, 0px -4px 10px -5px;
}

.content-input{
    margin: 5% 0 10% 0;
}

.form-row{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4% 0 4% 0;
}

.form-row .form-control{
    height: 100%;
    padding: 15px;
    border: none;
    background: rgba(255, 255, 255, 0.9);
    text-align: center;
}

#nom-prenom{
    display: flex;
}

#email-sujet{
    display: flex;
}

button[name="contact"]{
    width: 25%;
    height: 100%;
    padding: 15px;
    border: none;
    cursor: pointer;
}

.drop{
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, 0.2);
    position: absolute;
    transition: all 0.2s ease;
}

.drop-1{
    height: 120px;
    width: 100px;
    bottom: 40px;
    left: 240px;
    z-index: -1;
}

.drop-2{
    height: 80px;
    width: 80px;
    bottom: 68px;
    right: 240px;
}

.drop-3{
    height: 130px;
    width: 140px;
    bottom: 500px;
    right: 221px;
    z-index: -1;
}

.drop-4{
    height: 80px;
    width: 80px;
    bottom: 200px;
    right: 35px;
}

.drop-5{
    height: 60px;
    width: 60px;
    bottom: 390px;
    left: 90px;
    z-index: -1;
}

/*==================
    Login
==================*/

.portfolio{
    width: 100%;
    height: 150px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 101;
}

.portfolio a{
    text-decoration: none;
    color: #fff;
}

.content-body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;
}

.content-form{
    width: 550px;
    padding: 5%;
    border-radius: 10%;
}

.form{
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.connexion{
    padding: 0 0 25px 0;
}

.content-input{
    margin: 5% 0 10% 0;
}

.input{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4% 0 4% 0;
}

input[type="text"]{
    width: 75%;
    height: 100%;
    padding: 15px;
    border: none;
    background: rgba(255, 255, 255, 0.9);
    text-align: center;
}

input[type="password"]{
    width: 75%;
    height: 100%;
    padding: 15px;
    border: none;
    background: rgba(255, 255, 255, 0.9);
    text-align: center;
}

.submit{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button[type="submit"]{
    width: 25%;
    height: 100%;
    padding: 15px;
    border: none;
    cursor: pointer;
}

.form-submit{
    display: flex;
    justify-content: center;
}

/* back contact */

table{
    width: 100%;
    color: white;
}

th{
    border: 2px solid;
}

td{
    padding: 10px 40px;
}