<!DOCTYPE html>
<html>
    <head lang="fr">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
        <meta name="description" content="Découvrez le portfolio de Duchemin Alexandre, actuellement en formation de bts sio
        FullStack Junior. Il contient mon profil, mon cv, tout mes projets produits durant mes études, que ce soit professionnel ou personnel,
        une timeline représentant mes connaissances et languages appris et un formulaire de contact pour toute personne intérésser de me
        contacter">
        <meta name="keywords" content="portfolio, présentation, site web, projets, timeline, contact">
        <meta name="robots" content="index, follow">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="{{ asset('js/script.js') }}"></script>
        
    </head>
    <body style="opacity: 0;">
        <div class="content-site">
            {% block body %}{% endblock %}
        </div>
        <div class="effet_arriere_plan"></div>
    </body>
    <script>
        var swiper = new Swiper('.mySwiper', {
        slidesPerView: 1,
        spaceBetween: 60,
        mousewheel: false,
        breakpoints: {
            1520: {
                slidesPerView: 3,
            },
            900: {
                slidesPerView: 2,
            },
        },
    });
    </script>
</html>
