<header class="w-full flex justify-center">
    <nav class="container-navbar h-full w-full m-0 p-0">
        <ul class="navbar sm:flex justify-around items-center h-full w-full">
            <li class="w-full h-full"><a href="#bloc-accueil" class="w-full h-full flex items-center justify-center list-none">Accueil</a></li>
            <li class="w-full h-full"><a href="#bloc-certification" class="w-full h-full flex items-center justify-center list-none">Certifications</a></li>
            <li class="w-full h-full"><a href="#bloc-projets" class="w-full h-full flex items-center justify-center list-none">Projets</a></li>
            <li class="w-full h-full"><a href="#bloc-timeline" class="w-full h-full flex items-center justify-center list-none">Timeline</a></li>
            <li class="w-full h-full"><a href="#bloc-contact" class="w-full h-full flex items-center justify-center list-none">Me contacter</a></li>
        </ul>
    </nav>
    {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
    <div class="logout">
        <a href="{{ path('logout') }}">
           <img class="" src="{{ asset('media/deconnexion.png') }}"> 
        </a>
    </div>
    {% endif %}
</header>