<header>
    <nav class="container-navbar">
        <ul class="navbar">
            <li><a href="{{ path('admin_admins_liste') }}">Utilisateurs</a></li>
            <li><a href="#bloc-certification">Certifications</a></li>
            <li><a href="{{ path('admin_projets_liste') }}">Projets</a></li>
            <li><a href="{{ path('admin_timelines_liste') }}">Timeline</a></li>
            <li><a href="{{ path('admin_messages_liste') }}">Me contacter</a></li>
        </ul>
    </nav>
</header>